
{% extends "layout.html" %}
{% block body %}
  <div class="container-fluid">
    <br>
      <form action="{{url_for('api_v1.query_form')}}" method="post">
        <div class="row">
          <div class="col-md-12">
            <p class="text-right d-flex align-items-center"><h4 style="color: #ef7c00;">Variant search</h4></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label for="assemblyId">Genome build<span style="color: #ef7c00;">*</span></label>
            <select class="form-control" name="assemblyId" required>
              <option>GRCh37</option>
              <option {% if form.assemblyId == "GRCh38" %} selected="selected" {% endif %}>GRCh38</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="referenceName">Chromosome<span style="color: #ef7c00;">*</span></label>
            <select class="form-control" name="referenceName" required>
              {% for chrom in chromosomes %}
                <option {% if chrom == form.referenceName %} selected="selected" {% endif %} >{{chrom}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2">
            <label for="referenceBases">Reference bases<span style="color: #ef7c00;">*</span></label>
            <input type="text" class="form-control" id="referenceBases" name="referenceBases" placeholder="ex: T" value="{{form.referenceBases}}" required>
          </div>
          <div class="col-md-3">
            <label for="datasetIds">Dataset</label>
                <select multiple class="selectpicker" name="datasetIds">
                  {%for dset in dsets %}
                    <option value="{{dset}}">{{ dset }}</option>
                    <option value="appo">appo</option>
                  {%endfor %}
                </select>
          </div>
          <div class="form-check col-md-3">
            <!-- DatasetAlleleResponse=NONE-->
            <input class="form-check-input" type="radio" name="includeDatasetResponses" id="includeDatasetResponses" value="NONE" checked>
            <label class="form-check-label" for="includeDatasetResponses">
              General info
            </label><br>
            <!-- DatasetAlleleResponse=ALL-->
            <input class="form-check-input" type="radio" name="includeDatasetResponses" id="includeDatasetResponses" value="ALL">
            <label class="form-check-label" for="includeDatasetResponses">
              All datasets
            </label><br>
            <!-- DatasetAlleleResponse=HIT-->
            <input class="form-check-input" type="radio" name="includeDatasetResponses" id="includeDatasetResponses" value="HIT">
            <label class="form-check-label" for="includeDatasetResponses">
              Datasets with hits
            </label><br>
            <!-- DatasetAlleleResponse=MISS-->
            <input class="form-check-input" type="radio" name="includeDatasetResponses" id="includeDatasetResponses" value="MISS">
            <label class="form-check-label" for="includeDatasetResponses">
              Datasets without hits
            </label>
          </div>
        </div> <!--end of first row-->
        <div class="row">
          <div class="form-check col-md-2 mt-3">
            <input type="checkbox" id="type" checked data-toggle="toggle" data-on="Single nucleotides" data-off="Structural variants" data-onstyle="light" data-offstyle="warning">
          </div>
          <div id="snvsDiv" class="col-md-3">
            <label for="alternateBases">Alternate bases</label>
            <input type="text" class="form-control" id="alternateBases" name="alternateBases" placeholder="ex: C" value="{{form.alternateBases}}">
          </div>
          <div id="svsDiv" class="col-md-3">
            <label for="variantType">Variant type</label>
            <select class="form-control" name="variantType">
              {% for sv in ["", "INS", "DEL", "DUP", "INV"] %}
                <option>{{sv}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2">
            <label for="start">Start position</label>
            <input type="number" class="form-control" id="start" name="start" value={{form.start}}>
          </div>
          <div class="col-md-2">
            <label for="end">End position</label>
            <input type="number" class="form-control" id="end" name="end" value={{form.end}}>
          </div>
        </div>
        <!--Range coordinates-->
        <div class="row mt-3" id="rangeCoords">
          <div class="form-check col-md-2 mt-3">
            <input type="checkbox" id="range" checked data-toggle="toggle" data-on="Exact positions" data-off="Range query" data-onstyle="light" data-offstyle="info">
          </div>
          <div id="rangeDiv" class="row">
            <div class="col-sm-3">
              <label for="startMin">Min start</label>
              <input type="number" class="form-control" id="startMin" name="startMin" value={{form.startMin}}>
            </div>
            <div class="col-sm-3">
              <label for="startMax">Max start</label>
              <input type="number" class="form-control" id="startMax" name="startMax" value={{form.startMax}}>
            </div>
            <div class="col-sm-3">
              <label for="endMin">Min end</label>
              <input type="number" class="form-control" id="endMin" name="endMin" value={{form.endMin}}>
            </div>
            <div class="col-sm-3">
              <label for="endMax">Max end</label>
              <input type="number" class="form-control" id="endMax" name="endMax" value={{form.endMax}}>
            </div>
          </div>
        </div>
         <br>
        <div class="row">
          <div class="col-md-5"></div>
            <div class="col-md-3">
              <button type="submit" name="query" value="submit" class="btn btn-warning">Search SciLifeLab Beacon</button>
            </div>
        </div>
      </form>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
  $('select[multiple]').selectpicker({
        width: '100%'
  });

  $(function() {
    $('#type').change(function() {
      if($(this).prop("checked")){
        $('#snvsDiv').show();
        $("#alternateBases").prop('required',true);
        $('#svsDiv').hide();
      }
      else{
        $('#svsDiv').show();
        $('#snvsDiv').hide();
        $("#alternateBases").prop('required',false);
      }
    });

    $('#range').change(function() {
      if($(this).prop("checked")){
        $('#rangeDiv').hide();
        $('#start').prop('disabled',false);
        $('#end').prop('disabled',false);
      }
      else{
        $('#rangeDiv').show();
        $('#start').prop('disabled',true);
        $('#start').val("");
        $('#end').prop('disabled',true);
        $('#end').val("");
      }
    })
  });

  $(document).ready(function(){
    $('#svsDiv').hide();
    $('#rangeDiv').hide();
    $("#alternateBases").prop('required',true);
  });
  </script>

{% endblock%}
